<launch>
  <!-- Üç lidarı tek /scan'de birleştirir (AMCL, gmapping ve costmap tek tarama bekler) -->
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="base_footprint"/>
    <param name="scan_destination_topic" value="/scan"/>
    <param name="cloud_destination_topic" value="/merged_cloud"/>
    <param name="laserscan_topics" value="/scan_front_left /scan_rear_right /scan_top"/>
    <param name="angle_min" value="-3.14159"/>
    <param name="angle_max" value="3.14159"/>
    <param name="angle_increment" value="0.00872665"/>
    <param name="scan_time" value="0.1"/>
    <param name="range_min" value="0.15"/>
    <param name="range_max" value="25.0"/>
  </node>
</launch>
